{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="mb-4">Favorilerim</h1>

<div class="row">

    {% for item in wishlist_items %}

        <div class="col-md-4 mb-4">

            <div class="card h-100">

                <a href="{% url 'products:product_detail' item.product.slug %}">
                    <img
                        src="{% static item.product.image %}"
                        class="card-img-top"
                        alt="{{ item.product.name }}"
                    >
                </a>

                <div class="card-body">

                    <h5>
                        {{ item.product.name }}
                    </h5>

                    <p>
                        {{ item.product.price }} TL
                    </p>

                    <a
                        href="{% url 'products:product_detail' item.product.slug %}"
                        class="btn btn-dark"
                    >
                        Detaya Git
                    </a>

                    <a
                        href="{% url 'wishlist:remove_from_wishlist' item.product.slug %}"
                        class="btn btn-outline-danger"
                    >
                        Favoriden Çıkar
                    </a>

                </div>

            </div>

        </div>

    {% empty %}

        <p>Henüz favori ürününüz yok.</p>

    {% endfor %}

</div>

{% endblock %}