{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">
    Sipariş Detayı #{{ order.id }}
</h1>

<div class="card mb-4">
    <div class="card-body">
        <p>Ad Soyad: {{ order.full_name }}</p>
        <p>Telefon: {{ order.phone }}</p>
        <p>Adres: {{ order.address }}</p>
        <p>Durum: {{ order.get_status_display }}</p>
        <p>Toplam: {{ order.total_price }} TL</p>
        <p>Tarih: {{ order.created_at }}</p>
    </div>
</div>

<h3>Ürünler</h3>

{% for item in order.items.all %}
    <div class="card mb-3">
        <div class="card-body">
            <h5>{{ item.product.name }}</h5>

            <p>
                Numara: {{ item.variant.size }} |
                Renk: {{ item.variant.color }}
            </p>

            <p>Adet: {{ item.quantity }}</p>
            <p>Fiyat: {{ item.price }} TL</p>
            <p>Ara Toplam: {{ item.subtotal }} TL</p>
        </div>
    </div>
{% endfor %}

<a
    href="{% url 'orders:my_orders' %}"
    class="btn btn-dark"
>
    Siparişlerime Dön
</a>

{% endblock %}